{% extends "base.html" %}
{% block title %}{{ job.name }}{% endblock %}
{% block content %}
    <div class="container bg-light shadow-sm p-3 rounded">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 class="text-primary text-center">{{ job.name }}</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <p class="text-start"><strong>Base path:</strong> {{ job.base_path }}</p>
                </div>
                <div class="col">
                    <p class="text-end">{{ job.sub_jobs_complete() }}/{{ job.sub_jobs_count() }}</p>
                </div>
            </div>
            <table class="table job-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Duration</th>
                    </tr>
                </thead>
                <tbody>
                {% for sj in job.sub_jobs %}
                    <tr class="job-status-{{ "{}".format(sj.status) }}">
                        <th><a href="/subjob/{{ sj.id }}" title="{{ sj.name }}">{{ sj.name }}</a></th>
                        <td>{{ "{}".format(sj.status) }}</td>
                        <td class="utc-time">
                            {% if sj.start_datetime is not none %}
                            {{ sj.start_datetime.isoformat(timespec='seconds') }}
                            {% endif %}
                        </td>
                        <td class="utc-time">
                            {% if sj.end_datetime is not none %}
                            {{ sj.end_datetime.isoformat(timespec='seconds') }}
                            {% endif %}
                        </td>
                        <td class="job-duration">
                            {% if sj.end_datetime is not none %}
                            {{ sj.duration() }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
