{% macro queue(jobs, title, title_class, end_time=false) -%}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 class="{{ title_class }} text-center">{{ title }}</h1>
                </div>
            </div>
            <table class="table job-table table-light">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Submitted</th>
                        {% if end_time %}
                        <th scope="col">Finished</th>
                        {% endif %}
                        <th scope="col">Progress</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Status</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr class="job-status-{{ "{}".format(job.status) }}">
                        <th class="text-center"><a href="/job/{{ job.id }}" title="{{ job.name }}">{{ job.name }}</a></th>
                        <td>{{ job.priority }}</td>
                        <td class="utc-time">{{ job.queued_datetime.isoformat(timespec='seconds') }}</td>
                        {% if end_time and job.finished_datetime is not none %}
                        <td class="utc-time">{{ job.finished_datetime.isoformat(timespec='seconds') }}</th>
                        {% endif %}
                        <td>{{ job.sub_jobs_complete() }}/{{ job.sub_jobs_count() }}</td>
                        <td>
                            {% for tag in job.tags.split(',') %}
                            <span class="badge rounded-pill bg-primary">{{ tag }}</span>
                            {% endfor %}
                        </td>
                        <td>{{ "{}".format(job.status) }}</td>
                        <td>{{ job.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{%- endmacro %}
