{% extends "base.html" %}
{% block title %}{{ subjob.name }} ({{ subjob.job.name }}){% endblock %}
{% block content %}
    <div class="container bg-light shadow-sm p-3 rounded">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 class="text-primary text-center">{{ subjob.name }}</h1>
                    <p class="text-center"><a href="/job/{{ subjob.job.id }}" title="{{ subjob.job.name }}">({{ subjob.job.name }})</a></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <p class="text-start"><strong>Base path:</strong> {{ subjob.job.base_path }}</p>
                </div>
            </div>
            <table class="table job-table table-light">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="job-status-{{ "{}".format(subjob.status) }}">
                        <td>{{ "{}".format(subjob.status) }}</td>
                        <td class="utc-time">
                            {% if subjob.start_datetime is not none %}
                            {{ subjob.start_datetime.isoformat(timespec='seconds') }}
                            {% endif %}
                        </td>
                        <td class="utc-time">
                            {% if subjob.end_datetime is not none %}
                            {{ subjob.end_datetime.isoformat(timespec='seconds') }}
                            {% endif %}
                        </td>
                        <td class="job-duration">
                            {% if subjob.end_datetime is not none %}
                            {{ subjob.duration() }}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if subjob.return_code is not none %}
            <div class="row">
                <div class="col">
                    <div class="accordian" id="statusAccordian">
                        <div class="accordian-item">
                                <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  Output
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                <div class="accordion-body bg-dark overflow-auto text-nowrap">
                                  <p class="font-monospace text-light">
                                  {% for line in subjob.logs.stdout.splitlines() %}
                                      {{ line }}<br>
                                  {% endfor %}
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordian-item">
                                <h2 class="accordion-header" id="headingErrormon">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseErrormon" aria-expanded="false" aria-controls="collapseErrormon">
                                  Errormon
                                </button>
                              </h2>
                              <div id="collapseErrormon" class="accordion-collapse collapse" aria-labelledby="headingErrormon">
                                <div class="accordion-body bg-dark overflow-auto text-nowrap">
                                  <p class="font-monospace text-light">
                                  {% for line in subjob.logs.errormon.splitlines() %}
                                      {{ line }}<br>
                                  {% endfor %}
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordian-item">
                                <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Error
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                <div class="accordion-body bg-dark overflow-auto text-nowrap">
                                  <p class="font-monospace text-light">
                                  {% for line in subjob.logs.stderr.splitlines() %}
                                      {{ line }}<br>
                                  {% endfor %}
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}
